    /* google-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    /* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

    /* variable */
:root{
    --linear-color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    --green-color: #00FF88;
    --white-color: #FFFFFF;
    --primary-color: #1A0B2E;
    --secondary-color: #230E3D;
    --cards-color: rgba(53, 17, 101, 0.4);
    --featured-color: #250D44;
}

    /* Navbar Style */
.header{
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-bottom: 2px solid #412567 ;
}
.navbar{
    width: 75%;
    height: 92px;
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 219px;
}
.nav-img{
    visibility: hidden;
}

.menu{
    display: flex;
    gap: 30px;
}

.menu li{
    list-style: none;
}

.menu li a{
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
}

.btn-1{
     border: none;
     border-radius: 10000px;
     padding: 12px 16px;
     gap: 4px;
     align-items: center;
     color: var(--white-color);
     background: var(--linear-color);
}

    /* banner-style */
.banner{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
}
.banner-img{
    position: relative;
    width: 350px;
}
.microphone{
    position: absolute;
    top: 98px;
    right: 118px;
}
@keyframes btn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.hero-btn{
    position: absolute;
    top: 15px;
    right: 25px;
    border: none;
    border-radius: 10000px;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--green-color);
    animation: btn 2s linear infinite alternate;
}

.banner-container{
    width: 34%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 100px 208px ;
}


.banner-content h1{
    color: var(--white-color);
    font-size: 3.75rem;
    font-weight: bolder;
    margin-top: 40px;
}
.banner-content p{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.banner-content button{
    gap: 4px;
}

.spotify{
     border: none;
     border-radius: 10000px;
     padding: 12.5px 20px;
     gap: 8px;
     display: inline-flex;
     align-items: center;
     color: var(--white-color);
     background: var(--linear-color);
}
.subscribe{
    border: 1px solid var(--green-color);
    border-radius: 10000px;
    padding: 12.5px 20px;
    gap: 8px;
    display: inline-flex;
    background: transparent;
    color: var(--green-color);
}

    /* About style */
.about{
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--primary-color);
}
.container{
    width: 75%;
    margin: 0px 200px 0px 200px;
}
.about-content{
    text-align: center;
    color: var(--white-color);
}
.about-content h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--white-color);
}
.about-content p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 80%;
}
.container hr{
    margin: 80px 0px;
    opacity: 10%;
}
 .about-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding-bottom: 120px;
}
.about-info h1{
    font-size: 3rem;
    color: var(--green-color);
}
.about-info p{
    font-size: 1rem;
    line-height: 20px;
    color: var(--white-color);
}

    /* card style */
.cards{
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}    
.cards-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: var(--white-color);
}
.card-header{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 120px; 
    padding-bottom: 40px;
}

.card-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 120px;
}
.card-h{
    grid-row: span 2;
}

.card-w{
    grid-column: span 2;
}
.img-exe{
    width: 60px;
    height: 60px;
}


.card{
    border: none;
    border-radius: 40px;
    padding: 107px 40px;
    text-align: left;
    background-color: var(--cards-color);
}
.card h1{
    font-size: 1.5rem;
    padding: 16px 0px;
}
.card p{
    font-size: 1rem;
    line-height: 24px;
    opacity: 60%;
}

    /* featured style */
.featured{
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--primary-color);
    text-align: center;
    padding: 120px 200px;
    color: var(--white-color);
}
.episode h1{
    font-size: 3rem;
    margin-bottom: 40px;
}

.featured-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.feature-card{
    width: 31%;
    border: none;
    border-radius: 24px;
    background-color: var(--featured-color);
}
.feature-card iframe{
    width: 100%;
    height: 214px;
    border-radius: 24px 24px 0px 0px;
    overflow: hidden;
}
.feature-card-contain{
    margin: 24px;
    text-align: left;
}
.feature-card h1{
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.feature-card p{
    font-size: 1rem;
    line-height: 24px;
    opacity: 60px;
    margin-bottom: 12px;
}
.card-p{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.host-container{
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 40px;
    background-color: var(--featured-color);
    text-align: left;
    gap: 30px;
    padding: 40px;
}

.host h1{
    font-size: 3rem;
    padding-top: 120px;
    margin-bottom: 40px;
}
.host-container-content h1{
    font-size: 2rem;
    margin-top: 20px;
}
.host-container-content p{
    font-size: 1rem;
    line-height: 24px;
    opacity: 60%;
    border-top: 16px;
}
.logo-container{
    width: 184px;
    height: 40px;
    align-items: center;
}
.logo-container img{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 5px;
}

    /* footer style */

.footer{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer-content{
    gap: 32px;
    padding: 120px 112px;
    color: var(--white-color);
    text-align: center;
}
.footer-content img{
    width: 25%;
}

.footer-links{
    display: flex;
    gap: 40px;
    margin-top: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footer-brand{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-brand p{
    font-size: 1rem;
    font-weight: 500;
    opacity: 60%;
}
.copyright{
    width: 85%;
    font-size: 1rem;
    margin-top: 24px;
    opacity: 60%;
    padding-left: 113px;
}

.display-hide{
    display: none;
}
    /* Responaive */
@media screen and (max-width: 576px) {
    .navbar{
        width: 100%;
        padding: 18px 20px;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
    }
    .logo img{
        width: 137px;
    }
    .menu, .btn-1{
        display: none;
    }
    .nav-img{
        visibility: visible;
    }
/* banner style */
    .banner{
        width: 100%;
    }
    .banner-container{
        width: 100%;
        padding: 40px 20px;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }
    /* .hero-circle{
        width: 75%;
    } */
    /* .microphone {
    position: absolute;
    top: 50px;
    right: 118px;
    } */
    
/* about section */
    .about{
        width: 100%;
    }
    .container{
        width: 76%;
        margin: auto;
    }
    .about-content h1{
        font-size: 2rem;
        padding-top: 40px;
    }

    .container hr{
        margin: 40px 20px;
    }

    .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 40px;
    padding-bottom: 40px;
    }

/* Card section */
    
    .cards-container{
        width: 76%;
        
    }
    .card-header{
        width: 100%;
        font-size: 1rem;
        padding-top: 40px;
        padding-bottom: 16px;
    }
    .card-contain{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        padding-bottom: 40px;
    }
    .card{
        width: 100%;
        padding: 24px;
        
    }

/* feature section */
    .featured{
        width: 100%;
        padding: 40px 20px;
        text-align: center;
    }
    .episode h1{
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .feature-card{
        width: 70%;
        margin: auto;
    }

    .host h1 {
    font-size: 2rem;
    padding-top: 60px;
    margin-bottom: 24px;
    }
    .host-container{
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        text-align: center;
        overflow: hidden;
    }
    .host-img{
        width: 100%;
    }
    .host-container-content h1{
        font-size: 1.5rem;
        margin-top: 16px;
    }
    .host-container-content p{
        margin: 16px 0;
    }

    .logo-container{
        width: 100%;
    }


/* footer section */
    .footer{
        width: 100%;
    }
    .footer-content{
        width: 100%;
        margin: auto;
        padding: 40px 20px;
        align-items: center;
    }
    .footer-content img{
        width: 50%;
    }
    .footer-links{
        /* width: 70%; */
        margin-top: 24px;
        flex-wrap: wrap;
        
    }
    .copyright{
            padding-left: 20px;
    }
}